<div class="d-flex justify-content-center align-items-center vh-70 mt-4 mb-4">
  <div class="card border-warning mb-3" style="width: 600px; padding: 20px;">
      <div class="card-header d-flex justify-content-center align-items-center">
        <span class="iconify" data-icon="ic:outline-people" style="font-size: 3rem; "></span>
      </div>  <div class="card-body">
      <h4 class="card-title">Liste des participants</h4>
        <div class="row">
          <div class="col-md-6 justify-content-center align-items-center">
            <%= render 'users/user_picture_name' %>
            <%= render 'users/user_picture_name' %>
          </div>
          <div class="col-md-6 justify-content-center align-items-center">
            <%= render 'users/user_picture_name' %>
            <%= render 'users/user_picture_name' %>
          </div>
        </div>
    </div>
  </div>
</div> 