    <!-- Hero Section -->
    <div class="gradient-overlay-half-dark-v2 bg-img-hero " style="background-image: url('<%= asset_path('small_banner.jpg') %>');height: 200px;display: flex; align-items: center;">
      <div class="container space-2 space-4-top--lg space-3-bottom--lg">
        <div class="w-lg-60 text-center mx-lg-auto">
          <h1 class="display-2 font-size-48--md-down text-white mb-0">Les évènements de votre ville</h1>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->