 <%= render 'shared/big_banner' %>

<div class="d-flex justify-content-center align-items-center vh-80 mt-4 mb-4">
  <div class="row m-3 justify-content-center">
    <%= render 'events/event_card' %>
  </div>
</div>



    

