<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @event.admin.first_name %> ton évènement n'est pas validé. Il faut en soumettre un nouveau</h1>
  </body>
</html>