<footer class="bg-dark text-center text-white" style="bottom: 0; left: 0; right: 0;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><span class="iconify" data-icon="ri:apple-fill"></span>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><span class="iconify" data-icon="simple-icons:googleplay"></span>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><span class="iconify" data-icon="ri:instagram-fill"></span></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><span class="iconify" data-icon="mdi:spotify"></span></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><span class="iconify" data-icon="jam:deezer"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><span class="iconify" data-icon="mdi:linkedin"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

            <div class="form-outline form-white mb-4">
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        ******
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row d-flex justify-content-between">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Support</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Conditions d'utilisation</a>
            </li>
            <li>
              <a href="#!" class="text-white">Politiques données personnelles</a>
            </li>
            <li>
              <a href="#!" class="text-white">Nous contacter</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Villes</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Paris</a>
            </li>
            <li>
              <a href="#!" class="text-white">Lyon</a>
            </li>
            <li>
              <a href="#!" class="text-white">Marseille</a>
            </li>
            <li>
              <a href="#!" class="text-white">Lille</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">A propos</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Notre équipe</a>
            </li>
            <li>
              <a href="#!" class="text-white">Nos valeurs</a>
            </li>
            <li>
              <a href="#!" class="text-white">On recrute</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">My EventBright THP promo Automne 2023</a>
  </div>
  <!-- Copyright -->
</footer>